body {
    background: #080820;
}
header {
    height: 37px;
    background-color: black;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 32px;
    padding: 5px;
    font-size: xx-large;
    overflow: hidden;
    position: relative;
}
img {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
span {
    margin: 0;
    padding: 0;
}
.marquee {
    position: absolute;
    white-space: nowrap;
    animation-name: marquee-slide;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0,.6,0,1);
    animation-iteration-count: 1;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    line-height: 37px;
    margin-top: 3px;

}
@keyframes marquee-slide {
    0% {
        transform: translateX(100vw);
        letter-spacing: 110vw;
    }
    100% {
        transform: translateX(0);
        letter-spacing: normal;
    }
}

nav {
    display: flex;
    gap: 5px;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    a {
        flex: 1;
        height: 30px;
        background-color: black;
        display: inline-block;
        color: white;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        line-height: 30px;
        font-size: x-large;
        transition: background-color 0.1s, letter-spacing 0.1s ease-in-out;
        padding-top: 3px;
    }
    a:hover {
        background-color: #448;
        letter-spacing: 3px;
    }
    a:active {
        background-color: #66c;
        letter-spacing: normal;
    }
}

.container {
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    display: flex;
    gap: 5px;
    .textbox {
        img {
            max-width: 100%;
        }
        text-align: center;
        flex: 1;
        background-color: black;
        color: white;
        padding: 5px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        h2 {
            font-size: x-large;
            text-decoration: underline;
            text-align: center;
        }
    }
}
.footer {
    display: flex;
    gap: 5px;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    a {
        flex: 1;
        background-color: black;
        display: inline-block;
        color: white;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        line-height: 30px;
        font-size: x-large;
        transition: background-color 0.1s, letter-spacing 0.1s ease-in-out;
        padding-top: 3px;
    }
    a:hover {
        background-color: #008;
        letter-spacing: 3px;
    }
    a:active {
        background-color: #00c;
        letter-spacing: normal;
    }
}
a {
    color: #88f;
}
h3 {
    font-size: xx-large;
}

table {
    color: white;
    width: 100%;
    border-spacing: 5px;
    border-collapse: separate;
    td {
        background-color: black;
        padding: 5px;
        text-align: center;
        font-size: x-large;
    }
}

.linklist {
    text-decoration: none;
    a {text-decoration: none; color: white;}
}

.featured {
    table-layout: fixed;
    img {
    width: 100%;
    }
}