body {
    background-color: hsl(248, 39%, 10%);
}
header {
    background-color: hsl(248, 39%, 10%);
    color: white;
    font-family: monospace;
    font-size: 30px;
    padding: 0.5vw;
}
header img {
    width: 30px;
    position: absolute;
    right: 0.5vw;
    top: 0.5vw;
}
header * {
    display: inline-block;
}
.nav {
    color: white;
    font-family: monospace;
}
.nav tbody tr td {
    width: calc(100vw/3);
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    text-align: center;
    background-color: seagreen;
    height: fit-content;
    padding: 3px;
    border-bottom: none;
}
.nav tbody tr td:hover {
    background-color: #33324f;
}
.projects tbody tr td {
    width: calc(100vw / 3);
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    text-align: center;
    background-color: seagreen;
    height: fit-content;
    padding: 5px;
    border: 0.5vw solid #33324f;
    border-bottom: none;
}
td a {
    color: white;
}
.main {
    color: white;
    font-family: monospace;
    padding: 3px;
    background-color: #33324f;
    height: 100%;
    margin: 0.5vw;
    margin-bottom: 0;
}
h1 {
    font-size: xx-large;
}
footer {
    color: white;
    font-family: monospace;
    text-align: center;
    padding: 5px;
    background-color: rgb(79, 50, 79);
    width: 100vw;
    margin: 0;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
}
.projects img {
    width: 100%;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid white;
}
.projects {
    margin: 0.5vw;
}
h2 {
    font-size: large;
    text-decoration: underline;
}
.post {
    width: 98vw;
    margin: 1vw;
    font-family: monospace;
    color: white;
    padding: 5px;
    background-color: rgb(79, 50, 79);
    box-sizing: border-box;
}
.warn {
    background-color: rgb(138, 50, 50);
    font-weight: bold;
}
a {
    color: white;
}