html {
    background-color: #04001c;
    color: white;
}
header {
    border-bottom: 2px solid white;
}
.ccChild {
    border: 2px solid #c8c8c8;
    background-color: #080133;
}
.socials {
    border-bottom: 2px dashed gray;
}
a {
    border: 1px black;
}
svg {
    background-color: white;
}
a:visited {
    color: pink;
}