html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    background-color: rgb(127, 3, 194);
    background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255, 255, 255, 0.2) 35px, rgba(255, 255, 255, 0.2) 70px), repeating-linear-gradient(-45deg, transparent, transparent 35px, rgba(255,255,255,0.4) 35px, rgba(255,255,255,0.4) 70px);
    background-attachment: fixed;
}

nav {
    background-color:#7a0480;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    font-size: 32px;
    color: #da7bff;
    align-items:center;
    border-color:#3f37c9;
    background-color: #625aec;
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    padding: 5px;
  }

img {
    margin-top:5px;
}

li:hover {
    background-color: #183bb0;
    color: white;
}

#descbox {
    color: #d2deff;
    font-size: 16px;
    align-items:center;
    border-color:#3f37c9;
    background-color: #625aec;
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}

p {
    color: #d2deff;
    font-size: 16px;
    align-items:center;
    border-color:#3f37c9;
    background-color: #625aec;
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}